<!doctype html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{{"decoupled-map"|googlemap_js(50.4419, 30.1419, markers=[(50.4419, 30.1419)])}}
{{sndmap.js}}
</head>
<title>Time</title>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Work',     11],
          ['Eat',      2],
          ['Commute',  2],
          ['Watch TV', 2],
          ['Sleep',    7]
        ]);

        var options = {
          title: 'My Daily Activities',
          // chartArea:{left:0,top:0,width:'100%',height:'100%'}
          width: 1000,
          height: 600
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
  

	server_ip = 'http://10.55.42.159:5000'
	auth_token = '{{token}}';

  

  function ready() {
  	document.getElementById("events_button").className += " active";
  	document.getElementById('Events').style.display = "block";
  	// alert(document.getElementById("events_button"));
  }

  document.addEventListener("DOMContentLoaded", ready);

	

	function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";


	} 

// $.ajax({ 
//    type : "GET", 
//    url : server_ip+'/events', 
//    dataType: 'jsonp',
//      beforeSend: function(xhr) {
//     xhr.setRequestHeader("Authorization", "JWT " + auth_token);
//   },
//    crossDomain: true,
//    success: function(data, textStatus, request){
//         alert(request.getResponseHeader('some_header'));
//    },
//    error: function (request, textStatus, errorThrown) {
//         alert(request.getResponseHeader('some_header'));
//    }
//  });

// jQuery.ajax( {
//     url: server_ip + '/events',
//     type: 'GET',
//     // data: { content: 'testing test' },
//     beforeSend : function( xhr ) {
//         xhr.setRequestHeader( "Authorization", "JWT " + auth_token );
//     },
//     success: function( response ) {
//         alert('da');
//     }
// } );

</script>

<link rel="stylesheet" href="static/index/style.css">
 <div style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" 
 unselectable="on"
 onselectstart="return false;" 
 onmousedown="return false;" class="tab">
  <button class="tablinks" id="events_button" onclick="openCity(event, 'Events')">Events</button>
  <button class="tablinks" onclick="openCity(event, 'History')">History</button>
  <button class="tablinks" onclick="openCity(event, 'Movement activity')">Movement activity</button>
  <button class="tablinks" onclick="openCity(event, 'Stats')">Stats</button>
  <button class="tablinksright" onclick="window.location.href='/logout'">Log out</button>
</div>

<div id="Events" class="tabcontent">
    <!-- container -->
<div class="wrapper">
    <!-- Контейнер с адаптиными блоками -->
<div class="masonry">
    <!-- Адаптивные блоки с содержанием -->
   
       {%for category in categories%}
       <div class="item">
       <i class="material-icons" style="font-size:60px;color:red;">cloud</i>{{category.name}}
       </div>
       {%endfor%}
    
    
   
    </div>
    <!-- Конец адаптивных блоков с содержанием -->
</div>
    <!-- Конец контейнера с адаптиными блоками -->
</div>
</div>

<div id="History" class="tabcontent">
       {%for event in events%}
       <div class="item" >
       <i class="material-icons" style="font-size:60px;color:red;">cloud</i>{{event}}
       </div>
       {%endfor%}
</div>

<div id="Stats" class="tabcontent">
   <p id="piechart" style="width: 900px !important; height: 500px !important;"></p>
</div> 

<div id="Movement activity" class="tabcontent">
<div class="map">
   {{sndmap.html}}
</div>
</div> 